$primary: darkblue;
$secondary: #515197;

.theme-default {
  .btn-primary, .bg-primary, .header, .modal-header {
    background-color: $primary;
  }
  .btn-secondary, .bg-secondary {
    background-color: $secondary;
  }
  .btn-primary {
    color: white;
    font-weight: bold;
    background-color: $primary;
  }
  .btn-secondary {
    color: white;
    font-weight: bold;
  }

  .modal-dialog {
    background: #515197;
    color: white;
  }

  .editor {
    background: $secondary;
  }
}